:root {
    --bg-color: #fff;
    --text-color: #242425;
    --wave-color: #242425;
    --footer-color: #fff;
}

[data-theme="dark"] {
    --bg-color: #242425;
    --text-color: #fff;
    --wave-color: #fff;
    --footer-color: #242425;
}

* {
    font-family: montserrat;
    transition: all 0.5s ease 0s;
}

html,
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
    margin: 0;
    width: 100vw;
}

footer {
    align-self: center;
    height: 85px;
    margin-top: auto;
    overflow: hidden;
    padding-left: 7%;
    width: 93%;
}

footer>.footer-content>a {
    color: var(--footer-color);
    text-decoration: none;
}

footer>.footer-content>a:hover {
    color: var(--footer-color);
    text-decoration: none;
}

footer>svg {
    height: 85px;
    left: 0;
    position: absolute;
    width: 100%;
}

footer>.footer-content {
    align-items: center;
    display: flex;
    justify-content: left;
    position: absolute;
    z-index: 20;
    padding-top: 1.5em;
}

.page {
    height: calc(100% - 85px);
}

.nav {
    display: flex;
    height: 70px;
    justify-content: left;
    overflow: hidden;
}

.nav.is-sticky {
    position: sticky;
}

.nav-item {
    align-items: center;
    color: var(--text-color);
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-decoration: none;
}

.nav-item:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
    text-decoration: none;
}

.nav-item.is-active {
    background-color: var(--text-color);
    color: var(--bg-color);
    text-decoration: none;
}

.nav-logo {
    height: 50px;
    overflow: hidden;
    padding: 10px;
}

.logo {
    width: 50px;
}

.header {
    background-image: url('/assets/img/header_wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 51%;
    justify-content: center;
}

.header>h1 {
    align-items: center;
    display: flex;
    font-family: montserrat-black;
    font-size: 50px;
    margin: 0;
}

h1 {
    font-family: montserrat-black;
}

.content {
    margin-left: 50px;
    margin-right: 50px;
}

.text.is-center {
    text-align: center;
}

.wave>path {
    fill: var(--wave-color);
}

@font-face {
    font-family: 'montserrat';
    src: url('/assets/fonts/Montserrat-Light.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-black';
    src: url('/assets/fonts/Montserrat-Black.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}