* {
    transition: 0.5s;
    font-family: montserrat;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

footer {
    margin-top: auto;
    width: 93%;
    height: 85px;
    padding-left: 7%;
    position: absolute;
    align-self: center;
    overflow: hidden;
}

footer>.footer-content>a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

footer>.footer-content>a:hover {
    color: #fff;
    text-decoration: none;
}

footer>svg {
    position: absolute;
    left: 0;
    z-index: -10;
    height: 140px;
}

footer>.footer-content {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: left;
    display: flex;
}

.page {
    height: calc(100% - 85px);
}

.nav {
    display: flex;
    justify-content: left;
    height: 70px;
    overflow: hidden;
}

.nav.is-sticky {
    position: sticky;
}

.nav-item {
    align-items: center;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #242425;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #242425;
    color: #fff;
    text-decoration: none;
}

.nav-item.is-active {
    background-color: #242425;
    color: #fff;
    text-decoration: none;
}

.nav-logo {
    padding: 10px;
    height: 50px;
    overflow: hidden;
}

.logo {
    width: 50px;
}

.header {
    height: 51%;
    background-image: url('/assets/img/header_wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.header>h1 {
    margin: 0px;
    font-family: montserrat-black;
    font-size: 50px;
    display: flex;
    align-items: center;
}

h1 {
    font-family: montserrat-black;
}

.content {
    margin-left: 50px;
    margin-right: 50px;
}

.text.is-center {
    text-align: center;
}

@font-face {
    font-family: 'montserrat';
    src: url('/assets/fonts/Montserrat-Light.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-black';
    src: url('/assets/fonts/Montserrat-Black.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}