* {
    transition: 0.5s;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
}

footer {
    margin-top: auto;
    width: 93%;
    align-self: center;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    bottom: 0;
    padding-left: 7%;
}

footer > svg {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
}